body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.list-section {
    padding: 24px;
    margin: 0;
}

.list-section h2 {
    grid-column: 1 / -1;
    border-bottom: 2px solid var(--border);
    padding-bottom: 12px;
    margin: 0 -24px 24px -24px;
    padding-left: 24px;
    padding-right: 24px;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    padding: 24px;
}

.right-column {
    margin-left: -24px;
    position: sticky;
    top: 80px;
    height: fit-content;
    z-index: 10;
}

.site-header {
    padding-left: 32px;
}